QWidget {
    background-color: #2e2e2e;
    color: #ffffff;
}

QMainWindow {
    background-color: #2e2e2e;
}

QPushButton {
    background-color: #3a3a3a;
    color: #ffffff;
    border: 1px solid #8f8f8f;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

QPushButton:hover {
    background-color: #444444;
}

QPushButton:disabled {
    color: darkgray;
}

QLineEdit,
QTextEdit {
    background-color: #3a3a3a;
    color: #ffffff;
    border: 1px solid #8f8f8f;
    padding: 2px;
    font-size: 12px;
}

QLabel {
    color: #ffffff;
    font-size: 12px;
}

QMenuBar {
    background-color: #3a3a3a;
    color: #ffffff;
}

QMenuBar::item {
    background-color: #3a3a3a;
    color: #ffffff;
}

QMenuBar::item::selected {
    background-color: #444444;
}

QMenu {
    background-color: #3a3a3a;
    color: #ffffff;
    border: 1px solid #8f8f8f;
}

QMenu::item::selected {
    background-color: #444444;
}

QMenu::item:disabled {
    color: darkgray;
}

QMenu::item:disabled:hover {
    background-color: transparent;
}

QTableWidget {
    background-color: #3a3a3a;
    color: #ffffff;
    padding: 4px;
    border: 1px solid #8f8f8f;
}

QHeaderView::section {
    background-color: #3a3a3a;
    color: #ffffff;
    padding: 4px;
}

QHeaderView::section:vertical {
    background-color: #2daa91;
    color: #000000;
}

QTableCornerButton::section {
    background-color: #3a3a3a;
}

QTableWidgetItem {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

QToolTip {
    color: #000000;
    background-color: #2e2e2e;
    border: 2px solid #181818;
    padding: 5px;
    font-size: 12px;
}

QScrollBar:horizontal {
    background: #2e2e2e;
    height: 10px;
    margin: 0px 0px 0px 0px;
}

QScrollBar:vertical {
    background: #2e2e2e;
    width: 10px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:horizontal {
    background-color: #555555;
    border: 1px solid #444444;
    min-width: 20px;
}

QScrollBar::handle:vertical {
    background-color: #555555;
    border: 1px solid #444444;
    min-height: 20px;
}

QScrollBar::handle:horizontal:hover,
QScrollBar::handle:vertical:hover {
    background-color: #666666;
}

QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal,
QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    background: none;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}